@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

:not(#post_raty) {
  @import "~bootstrap/scss/bootstrap";
}

.form {
  width: 250px;
}

@media screen and (max-width: 768px) {
 .form{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px
  } 
}